<ActionBar title="nativescript-datetimeselector" class="action-bar"> </ActionBar>
<StackLayout class="p-20">
  <ScrollView class="h-full">
    <StackLayout>
      <Button
        text="Show Date Selector"
        (tap)="demoShared.showDateSelector()"
        class="btn btn-primary"
      ></Button>
      <Button
        text="Show DateTime Selector"
        (tap)="demoShared.showDateTimeSelector()"
        class="btn btn-primary"
      ></Button>
      <Button
        text="Show Time Selector"
        (tap)="demoShared.showTimeSelector()"
        class="btn btn-primary"
      ></Button>
    </StackLayout>
  </ScrollView>
</StackLayout>
